{% extends "SnippetBundle::base.html.twig" %}

{% block header_title %}
    Sf Snippet
{% endblock %}

{% block content %}
    <h2>Créer une technologie</h2>

    {{ form(form) }}
{% endblock content %}