{% extends "SnippetBundle::base.html.twig" %}


{% block content %}
    <h2>Modifier le snippet <small>{{ snippet.title }}</small></h2>

    {% form_theme form.links "SnippetBundle:Snippet:_form_theme.html.twig" %}

    {{ form(form) }}
{% endblock content %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/snippet/js/snippet-links.js') }}"></script>
{% endblock javascripts %}